/*
  @author : Sreelekha Mondal.
  @date : 10 October, 2025. 
  HTML file : HTML_DIY-03_Sreelekha_Mondal_II.html
*/

/* Importing a google font to this web page */
@import url('https://fonts.googleapis.com/css2?family=Caveat:wght@400..700&family=Lobster+Two:ital,wght@0,400;0,700;1,400;1,700&display=swap');

/* Styling the text of the div which we will use as a heading. */
.heading
{
  text-align : center;
  font-family : "Caveat", cursive;
  font-size : 25px;
  font-weight : bold;
  color : #57595B;
}

/* Set the structure for the main div where the options will be displayed and the output will display. */
.div_structure
{
  margin : auto;
  margin-top : 30px;
  padding : 20px;
  width : 60%;
  height : 80px;
  border : 4px solid;
  border-radius : 20px;
}

/* Color combination for the main div where the options will be displayed and the output will display. */
.div_color
{
  box-shadow : 2px -2px 6px #5A0E24;
  border-color : #452829;
  background-color : #F8F4EC;
}

/* This class is defined to set the font style for the text within the main div. */
.div_text
{
  font-family : Norasi;  
  font-size : 18px;
  color : #452829;
  font-weight : bold;
}

/* Adding the height, width, and background color to the submit button. */
.button_style
{
  width : 80px;
  height : 30px;
  border : 2px solid;
  border-radius : 15px;
  background-color : #F3E8DF;
}
